body{
	font-size: 16px;
  	background-color: lightblue;
}

/** HEADER **/

#header-nav{
	background-color: orange;
	border-radius: 0;
	border: 0;	
}

.navbar-header button{
	margin-top: 30px;
	background-color: lightblue;
}

.navbar-brand {
    line-height: 76px;
    height: 76px;
    padding-top: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
	text-shadow: 2px 2px 2px orchid;
}

#main-heading, .navbar-brand h1, #Chicken>h3, #Beef>h3, #Sushi>h3 {
    color: white;
    font-family: 'Abril Fatface', cursive;
    font-weight: bolder;
    font-size: 1.8em;
    margin-bottom: 40px;
}	

.navbar-default .navbar-toggle:hover {
    background-color: red;
}

#nav-list{
	background-color: pink;
}

#collapsable-nav hr{
	width: 50%;
}

#Chicken, #Beef, #Sushi{
	border: 2px solid black;
	margin: 5px;
    padding: 20px;
    background-color: purple;
    margin-bottom: 60px;
    color: white;
}

#Chicken>.text-center, #Beef>.text-center, #Sushi>.text-center{
	margin-bottom: 25px;
}



/* END OF HEADER */
